<p id="notice"><%= notice %></p>

<p>
  <h4><strong>Name:</strong> <%= @employee.name %> </h4>
</p>
<p>
  <h4><strong>Type Document:</strong> <%= @employee.type_document %> </h4>
</p>
<p>
  <h4><strong>Document:</strong> <%= @employee.document %> </h4>
</p>
<p>
  <h4><strong>Contract Type:</strong> <%= @employee.type_contract %> </h4>
</p>

<br>
<%= link_to '', edit_employee_path(@employee), class: 'btn btn-outline-primary fas fa-edit', title: "Edit" %>
<%= link_to '', employees_path, class: 'btn btn-outline-secondary fa fa-list-ol', title: "All" %>
